<!--Tabs-->
<section class="info" ng-controller="TabController as tab">
    <ul class="tab-nav">
        <li ng-class="{active:tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Details</a>
        </li>
        <li ng-class="{active:tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{active:tab.isSet(3)}" ng-show="product.screenshots.length">
            <a href ng-click="tab.setTab(3)">Screenshots</a>
        </li>
        <li ng-class="{active:tab.isSet(4)}">
            <a href ng-click="tab.setTab(4)">Reviews</a>
        </li>
    </ul>
    
    <product-details></product-details> 
    <product-specs></product-specs>
    <product-screenshots></product-screenshots>
    <product-reviews></product-reviews>
</section>
