html, body {
    margin: 0;
}

body {
    background-color: #333;
    font-family: "Helvetica", "Arial", sans-serif;
}

#main {
    margin: 0 auto;
    width: 800px;
    box-shadow: 0 0 100px #000;
    background-color: #FFF;
    padding: 20px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    border-bottom: 1px solid #BBB;
    padding: 20px 20px 0 0;
    min-height: 380px;
}

.footer {
    text-align: center;
    color: #FFF;
    padding: 10px;
    font-size: 15px;
}

.footer a{
    color: inherit;
}

h1 {
    margin: 10px;
    text-align: center;
}
h2 {
    margin: 0 0 70px 0;
}
h3 {
    margin: 0 70px;
    color: #0D4248;
    font-size: 20px;
    border-bottom: 2px solid #0D4248;
}

blockquote {
    font-size: 13px;
    margin: 0 0 10px 0;
    text-overflow: clip;
}

.cover {
    float: left;
    
}
.cover img{  
    border: 1px solid #000;
    width: 250px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 3px #333;
}

.info {
    margin-left: 300px;
    padding: 0;
}

.tab-nav {
    padding: 0;
    list-style: none;
    min-height: 40px;
    font-size: 15px;
    color: #0D4248;
    font-weight: bold;
}
.tab-nav li {
    float: left;
    margin-right: 10px;
    padding: 8px;
    background-color: #F3F3F3;
    border-radius: 5px;
    
}
.tab-nav a{
    text-decoration: none;
    color: #0D4248;
    padding: inherit;
}
.tab-nav li:hover{
    background-color: #DDD;
}
.tab-nav li.active{
    background-color: #0D4248;
}
.tab-nav li.active a{
    color: #FFF;
}

.list-common {
    list-style: none;
    font-size: 13px;
    padding: 0 0 5px 0;
}

.screenshots-thumb li{
    list-style: none;
    padding: 0;
    margin: 1px;
    float: left;  
}
.screenshots-thumb img:hover, .screenshots-thumb img.active{
    border: 3px solid #0D4248;
}
.screenshots-thumb img {
    width: 60px;
    border: 3px solid #CCC;
}

.screenshot {
    width:100%;
    margin: 10px 0;
}

.revForm {
    margin: 10px 0;
}

.rev {
    border: none;
    padding: 5px 0;
}

.form-control {
    border:1px solid #C6C6C6;
    width: 100%;
    padding: 5px 0;
    margin-right: inherit;
    border-radius: 4px;
}

.submit-button {
    margin: 5px 0;
    padding: 5px;
    float: right;
}

cite {
    text-align: right;
    font-weight: bold;
}
